streamlit
langchain
langchain-community
langchain-core
langchain-openai
langchain-groq
pypdf
faiss-cpu
python-dotenv
tiktoken
sentence-transformers
huggingface-hub
chromadb
pypdf
streamlit==1.45.1

langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.59

chromadb==0.5.23

pypdf==5.5.0
sentence-transformers==4.1.0

protobuf==3.20.3
opentelemetry-api==1.33.1
opentelemetry-sdk==1.33.1